#Ignore all without extension
*

#Do not ignore files named Makefile and makefile
!Makefile*
!makefile*
       
#Do not ignore all with extensions
!*.*

#Do not ignore all directories
!*/

#Ignore temp files
*~ 
*.swp
.DS_Store

#Ignore geany script
geany_run_script.sh

#Ignore object files
*.o
